* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background:url(images/emoji-wallpaper-hd-1.jpg) no-repeat center center fixed;
  background-size: cover;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.cards {
  width: calc(25% - 10px);
  height: calc(33.3333 - 10px);
  margin:  5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.cards:active {
  transform: scale(.97);
  transition: transform .2s;
}

.cards.flip {
  transform: rotateY(180deg);
}

.theBack,
.theFront{
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: aqua;
  backface-visibility: hidden;
}

.theBack {
    transform: rotateY(180deg);
}
